.ToolbarRow {
  flex: 0 0 auto;
  height: var(--toolbar-height);
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  transition: height 300ms ease;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--box-bg);
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25), inset 0px -1px 0px #132b37;
  overflow-x: scroll;
}

.ToolbarRow::-webkit-scrollbar {
  height: 5px;
}

ToolbarRow.expanded {
  height: calc(var(--toolbar-height) + var(--toolbar-drawer-height));
}

.toolbar-button svg {
  pointer-events: none;
}
.right-side-buttons {
  display: flex;
  white-space: nowrap;
}

.right-side-buttons > div {
  margin: 0 0 0 10px;
}

.toolbar-divider {
  height: 24px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  margin: 0 2px;
}

@media only screen and (max-width: 600px) {
  .ToolbarRow {
    position: absolute;
    bottom: 0;
  }
  .ToolbarRow.right-side-panel-open {
    display: none;
  }
}
