.drag_modal {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  right: auto !important;
  bottom: auto !important;
}

.drag_modal.ant-modal-wrap {
  overflow: hidden;
}

.drag_title {
  cursor: move;
}

.drag_modal .ant-modal {
  top: auto;
  padding-bottom: 0 !important;
}

.drag_modal .ant-modal-header {
  padding: 0 24px 0 0;
  box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
  border-bottom: none;
}

.drag_modal .ant-modal-header:hover {
  background-color: rgba(5, 32, 48, 0.2) !important;
}

.drag_modal .ant-modal-title .drag_title {
  padding: 16px 0 16px 24px;
}

.drag_modal .ant-modal-body {
  overflow-y: scroll;
}

.ant-modal-header {
  background-color: var(--box-bg-600) !important;
  box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
  border-bottom: none;
}

.ant-modal-content {
  background-color: var(--box-bg-600) !important;
}
