@import './../../design/styles/common/global.styl';

:root {
  --series-count-background-color: #678696;
}

.thumbnail {
  cursor: pointer;
  display: table;
  margin: 0 auto;
  min-width: 90%;
  padding-bottom: 1.5rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    padding-bottom: 1px;
  }

  .series-thumbnail-loading-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    display: block;
    width: 44px;
    height: 44px;

    &:after {
      content: ' ';
      display: block;
      width: 32px;
      height: 32px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: series-thumbnail-loading-indicator 1.2s linear infinite;
    }

    @keyframes series-thumbnail-loading-indicator {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .btn-retry {
    .anticon-reload {
      font-size: 32px;
    }
  }

  .alt-image-text {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    box-shadow: inset 0 0 0 1px var(--ui-border-color-dark);
    border: 5px solid transparent;
    border-radius: 12px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    transition: var(--sidebar-transition);
    width: 217px;
    display: flex;

    h1 {
      text-align: center;
      color: var(--text-primary-color);
    }
  }

  .series-details {
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 5px;
    margin-left: 1rem;
    margin-right: 0.5rem;
    max-width: 217px;
    position: relative;
    word-wrap: break-word;

    .series-description {
      flex-grow: 1;
    }

    &.info-only .series-description {
      display: none;
    }
  }

  .series-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item-frames .icon {
      height: 18px;
    }

    .item-series.image-frames .icon {
      background-color: var(--series-count-background-color);
      margin-top: 6px;
      position: relative;

      &:after {
        content: '';
        background-color: var(--active-color);
        box-shadow: 1px 1px rgba(0, 0, 0, 0.115);
        left: -4px;
        position: absolute;
        top: -4px;
      }

      &, &:after {
        content: '';
        border: 0px solid var(--series-count-background-color);
        display: inline-block;
        height: 11px;
        width: 11px;
      }
    }

    .value {
      // color: var(--text-secondary-color);
      display: inline-block;
      font-size: 12px;
      margin-left: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .icon {
      color: var(--active-color);
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
      text-align: right;
      width: 11px;
    }
  }
}

@media screen and (max-width: 600px) {
  .study-browser .scrollable-study-thumbnails .thumbnail-container .thumbnail {
    padding-bottom: 1px;
    width: 100px;

    .alt-image-text {
      width: 100px;
      height: 70px;
    }
    .ImageThumbnail {
      width: 100px;
      height: 70px;
    }

    .series-details {
      width: 90px;
      margin-bottom: 0 !important;
    }
    .series-information {
      height: 0;
      .series-number {
        display: none;
      }
      .item-series.image-frames .icon {
        display: none;
      }
      .item-series.image-frames .value {
        position: absolute;
        right: 0;
        top: -24px;
      }
    }

    .series-description {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
