.study-browser {
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;

  @media screen and (max-width: 600px) {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .scrollable-study-thumbnails {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-right: 16px;
    padding-left: 4px;
    margin-right: -16px;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .thumbnail-container {
      margin: 0 auto;
      padding-bottom: 1.5rem;

      .noselect {
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts */
      }
    }

    .study-item {
      border: none;
      border-radius: 0;

      .ant-collapse-item {
        border: none;
        border-radius: 0;

        .ant-collapse-header {
          background: #376580;
          margin-bottom: 8px;
          padding: 8px;
          padding-right: 22px;
          border-radius: 0;

          .anticon-right {
            top: 0;
            right: 8px;
          }

          .patient-info {
            .patient-name {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 12px;
            }

            .patient-date {
              margin-top: 3px;
            }
          }

          @media screen and (max-width: 600px) {
            margin-bottom: 1px;
            width: 100vw;
            .patient-info {
              display: flex;

              .patient-date {
                margin-top: 0;
                margin-left: 3px;
              }
            }
            .more-study {
              position: absolute;
              left: 0;
              top: 0;
              padding: 8px;
              width: 34px;
              border-right: 1px solid var(--box-bg);
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
            }
            .patient-name {
              margin-left: 35px;
            }
          }
        }

        .ant-collapse-content {
          border: none;
          border-radius: 0;
          background: unset;

          .ant-collapse-content-box {
            padding: 0;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      overflow-y: hidden;
      overflow-x: auto;

      .list-thumbnails .ant-collapse-content-box {
        flex-direction: row;
        display: flex;
        width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          height: 5px;
        }
      }

      .thumbnail-container {
        margin: 0;
      }

      // &.list-thumbnails {
      //   flex-direction: row;
      //   display: flex;
      //   overflow-x: scroll;
      //   overflow-y: hidden;
      //   -webkit-overflow-scrolling: touch;
      // }
    }
  }
}

.draggable {
  cursor: copy;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
