line-color = rgba(255, 255, 255, 0.12);

.create-folder-modal {
  .ant-modal-content {
    background-color: var(--black-bg-3);
    border-radius: 2px;

    .ant-modal-header {
      background: var(--black-bg-3);
      border-bottom: 1px solid line-color;

      .ant-modal-title {
        font-size: 16px;
      }
    }

    .ant-modal-footer {
      border-top: 1px solid line-color;
    }
  }

  .ant-form-item-label > label {
    color: var(--text-color-white);
  }

  .ant-select-arrow {
    color: var(--text-color-white);
  }

  .ant-input {
    background-color: transparent;
  }

  .ant-select-selector {
    background-color: transparent;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
  }
}

.ant-select-dropdown {
  background-color: var(--black-bg-3);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--black-bg-1);
  font-weight: normal;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--black-bg-1);

  &:hover {
    background-color: var(--header-table);
  }
}
