@keyframes fadeIn {
	0% {
		transform: translateY(-25%);
	}
	50%{
		transform: translateY(4%);
	}
	65%{
		transform: translateY(-2%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(0%);
	}
}

.popup {
  min-width: 200px;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-clip: padding-box;
  background-color: var(--black-bg-1);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  left: 0px;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--black-bg-1);
}

.popup li {
  clear: both;
  cursor: pointer;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 5px 12px;
  transition: all .3s;
  white-space: nowrap;
  -webkit-transition: all .3s;
}

.popup li:hover {
  background-color: var(--header-table);
}

.popup li > i {
  margin-right: 8px;
}

.vindr-modal {
  .ant-modal-content {
    background-color: var(--box-bg-600);
    box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
    border-radius: 2px;
    .ant-modal-header {
      height: 56px;
      background-color: var(--box-bg-600);
      box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
      border-bottom: none;
      .ant-modal-title {
        font-size: 20px;
      }
    }

    .ant-modal-body {
      .copy-to-folder-content {
        max-height: 400px;
        overflow: auto;
        padding: 24px;
      }
    }

    .ant-modal-footer {
      padding: 12px;
      border-top: none;
    }
  }
}
