.FlexboxLayout {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: stretch;
  height: calc(100% - var(--toolbar-height) - var(--header-height));
  overflow: hidden;
}

.sidepanel {
  flex: 1;
  height: 100%;
  transition: var(--sidepanel-transition);
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.from-left {
  margin-left: calc(var(--left-sidepanel-menu-width) * -1);
  max-width: var(--left-sidepanel-menu-width);
}

.from-right {
  margin-right: calc(var(--right-sidepanel-menu-width) * -1);
  /* max-width: var(--right-sidepanel-menu-width); */
  max-width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 4px;
}

.sidepanel.is-open {
  margin-right: 0;
  margin-left: 0;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  transition: var(--sidepanel-transition);
  width: 100%;
  padding: 8px;
  background-color: var(--black-bg-4);
}

/*@media only screen and (max-width: 768px) {*/
/*    !* Account for "Investigational Use" banner height *!*/
/*    .FlexboxLayout {*/
/*        height: calc(100% - var(--toolbar-height) - var(--header-height) - 10px);*/
/*    }*/
/*}*/


@media screen and (max-width: 600px) {
  .from-left {
    margin-left: unset;
    max-width: unset;
  }

  .sidepanel.from-left {
    flex: unset;
    height: unset;
    transition: var(--sidepanel-transition);
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidepanel.from-right {
    max-width: 100vw;
  }
  .FlexboxLayout.right-side-panel-open {
    height: calc(100% - var(--header-height));
  }
  .ant-tabs > .ant-tabs-nav {
    display: none;
  }
}
