.studies-container {
  height: calc(100vh - 104px);
  color: var(--text-color-white)

  .divider {
    margin: 0;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-right: none;
    border-left: none;
    height: 5px;
  }

  .arrow-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      color: var(--button-primary);
    }
  }
  .arrow-icon {
    font-size: 8px;
    margin-right: 8px;
  }

  .perform-table-content {
    height: 100%;
    .table-content {
      height: 100%;
    }
  }

  .hight-light {
    color: var(--active-color);
  }

  .dot-ai-result {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: auto;
  }
  .ant-table-wrapper {
    height: calc(100% - 100px);
  }

  @media only screen and (max-width: 1428px) {
    .ant-table-wrapper {
      height: calc(100% - 135px);
    }
  }

  @media only screen and (max-width: 1240px) {
    .ant-table-wrapper {
      height: calc(100% - 155px);
    }
  }

  .related-table .ant-table-wrapper {
    height: calc(100% - 40px);
  }
  .ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
  }
  .ant-table {
    height: 100%;
    background-color: var(--box-bg-400);

    &.ant-table-small .ant-table-thead > tr > th {
      background-color: var(--header-table);
      border-right: 1px solid #5D6979;
      border-bottom: none;
      &:last-child {
        border: none;
      }
      &.ant-table-cell-scrollbar {
        box-shadow: none;
      }
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background-color: var(--box-bg-400);
    }

    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: var(--box-bg-200);
    }

    .ant-table-tbody > tr.ant-table-row > td {
      border-bottom: 1px solid #5D6979;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: var(--box-bg-300);
    }

    .ant-table-tbody > tr.ant-table-placeholder > td {
      border-bottom: none;
    }
    .ant-empty-image {
      height: auto;
      margin-bottom: 0;
    }
    .ant-empty-description {
      font-size: 14px;
      color: var(--text-color-white);
    }

    .ant-table-container {
      font-size: 12px;
      height: 100%;

      .ant-table-thead {
        .ant-table-cell {
          padding: 6px 8px !important;
        }

        .ant-table-column-sorters {
          padding: 0;
        }
      }

      .ant-table-body {
        height: calc(100% - 31px);
      }

      .ant-table-row {
        cursor: default;

        &.selected {
          background-color: var(--box-bg-300);
        }

        .match-status {
          .anticon-close-circle {
            color: var(--error-color);
          }

          .anticon-check-circle {
            color: var(--success-color);
          }
        }

        .ant-table-cell {
          padding: 5px 8px 3px 8px !important;
          vertical-align: middle;

          &.status-column {
            padding: 3px 8px 3px 8px !important;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        .ant-table-row {
          user-select: none;
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }
  }

  .ant-btn-primary[disabled] {
    background: rgba(255, 255, 255, 0.3);

    &:hover, &:focus, &:active {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .table-header {
    .tb-actions {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .tb-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
      }

      .btn-actions {
        margin-left: auto;
      }
    }
  }

  .perform-table-content {
    // height: 50%;
    background: var(--black-bg-3);
    padding: 16px;
    border-radius: 0 0 2px 2px;
    margin-bottom: 16px;
  }

  .schedule-table-content {
    // height: 50%;
    background: var(--black-bg-3);
    padding: 16px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .ant-layout .container {
    background-color: var(--black-bg-3);
    .studies-container {
      .perform-table-content {
        background: var(--black-bg-3);
        padding: 0;
      }
    }
  }
}
