.feedback-container {
  padding: 8px 8px 18px 8px;

  .feedback-buttons {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }

  .feedback-btn {
    width: 32%;
    color: #fff;

    &:focus {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.25);
    }

    &:hover {
      color: #2c8593;
      border-color: #2c8593;
    }
  }

  .feedback-title {
    font-size: 14px;
  }

  .note-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .note-btn {
    margin-left: 5px;
  }
}
