@import '../../../design/styles/common/global.styl';
@import '../../../design/styles/common/form.styl';
@import '../../../design/styles/common/button.styl';

.ViewportDownloadForm {
  display: flex;
  flex-direction: column;
  z-index: 1002 !important;
  max-height: 900px;
  overflow-y: auto;

  input, select {
    max-height: 30px;
  }

  .input-group {
    margin-bottom: 24px;
  }

  #keep-aspect svg {
    margin-top: 3px;
  }

  .title {
    margin: 0;
    font-weight: bold;
  }

  .ant-spin-container {
    overflow-x: hidden;
  }

  .section-select {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;

    .line-divider {
      height: 1px;
      width: 100%;
      background: #fff;
      margin: 10px 0;
    }

    .file-info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: 1023px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .width, .height, .file-name, .file-type {
        height: 56px;
      }

      .input-ohif {
        margin: 0 5px;
        font-size: 12px;
      }

      .file-name, .file-type {
        .select-ohif, .input-ohif {
          width: 170px;
        }

        .input-ohif-label, .select-ohif-label {
          width: 90px;
          display: inline-block;

          @media screen and (max-width: 1023px) {
            width: 120px;
          }
        }
      }

      .dimension-wrapper {
        display: flex;
        flex-direction: column;

        .dimensions {
          display: flex;
          flex-direction: column;

          .input-ohif-label {
            width: 120px;
            display: inline-block;
          }

          .input-ohif {
            @media screen and (max-width: 1023px) {
              width: 170px;
            }
          }
        }

        .keep-aspect-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          height: 86px;
        }
      }

      .show-annotations {
        font-weight: bold;
        line-height: 30px;

        input {
          margin-right: 7px;
          vertical-align: middle;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .loading-image {
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--active-color);
    font-size: 20px;

    .icon-spin {
      margin-right: 15px;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    height: 475px;

    .viewport-preview {
      max-height: 416px;
      max-width: 416px;
    }

    .preview-header {
      width: 100%;
      text-align: center;
      font-size: 1.3em;
      margin: 0 0 10px;
    }
  }

  .actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .btn {
      margin: 0 10px;
    }
  }

  .input-error {
    font-size: 12px;
    color: red;
    text-align: center;
    margin: 3px 0;
  }
}

.modal-dialog {
  height: 100%;

  .modal-body {
    display: flex;
    flex-direction: column;
  }
}

.ant-select-dropdown.dropdown-options-dark
  background-color: var(--black-bg-3)
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
    background-color: var(--black-bg-1)
    font-weight: normal
  .ant-select-item-option-active:not(.ant-select-item-option-disabled)
    background-color: var(--black-bg-1)
    &:hover
      background-color: var(--header-table)

@media screen and (max-width: 600px) {
  .ViewportDownloadForm {
    .preview {
      height: auto;
      max-height: 475px;
      .preview-header {
        display: none;
      }
    }

    .download-container {
      flex-direction: column;

      .section-select {
        margin-bottom: 0;

        .dimension-wrapper {
          .dimensions {
            flex-direction: row;
          }
        }
      }

      .file-wrapper {
        display: flex;
      }

      .input-group {
        margin-bottom: 5px;
        height: 56px;
        margin-right: 10px;
      }

      .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        height: 30px;
      }
    }
  }
}
