.printing-dialog {
  .ant-modal-content {
    background-color: #fff !important;
    color: #000 !important;
  }

  .ant-modal-footer {
    border: none;
  }

  .ant-btn {
    color: #000;
  }

  .preview-content {
    padding: 0 40px;
    font-size: 14px;

    strong, em, p, span {
      font-size: 1em;
    }
  }

  .ant-upload-picture-card-wrapper {
    width: auto;
  }

  .ant-upload {
    position: relative;
  }

  .ant-upload:hover {
    .overlay {
      display: flex !important;
    }
  }

  .image-action {
    color: rgba(255, 255, 255, 0.85);
    transition: color 0.3s;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .tb-edit-text {
    border-width: 1px;
    border-style: dashed;
    border-color: #647a87;
  }
  .tb-edit-text:focus-visible {
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    outline: none;
  }

  .ant-upload.ant-upload-select-picture-card {
    background: transparent;
  }
}
