.attach-file-modal {
  .ant-modal-content {
    background-color: var(--box-bg-600);
    border-radius: 2px;

    .ant-modal-body {
      padding: 0;
    }

    .ant-modal-close-x {
      color: var(--text-color-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-modal-header {
      height: 56px;
      background-color: var(--box-bg-600);
      box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
      border-bottom: none;

      .ant-modal-title {
        font-size: 20px;
      }
    }

    .ant-modal-body {
      padding: 16px 24px;
      .button-group {
        display: flex;
        margin-bottom: 10px;
        .ant-btn {
          margin-right: 10px;
        }
      }
      .attach-file-content {
        overflow: auto;

        .form-item {
          margin-bottom: 16px;
          .file-list {
            display: flex;
          }
          .file {
            width: 200px;
            padding: 5px
            margin-right: 10px;
            border: 1px solid transparent;
            &.selected {
              border-radius: var(--box-radius);
              border: 1px solid var(--active-color);
            }

            .file-name {
              margin-top: 3px;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
              white-space: pre;
            }
          }
        }
      }
    }

    .ant-modal-footer {
      padding: 12px 24px 12px;
      border-top: none;
    }
  }
}
