// @import '../../variables.scss';
.fixed-upload-modal .ant-modal .ant-modal-content {
  background-color: var(--box-bg-600);
  border-radius: 2px;

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close-x {
    color: var(--text-color-white);
    width: 68px;
    display: flex;
    align-items: center;
  }

  .btn-header .anticon {
    margin-right: 18px;
  }
}

.import-data-content {
  .input-file {
    display: none;
  }

  .header-modal {
    padding: 14px 16px;
    box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);

    .header-title {
      font-size: 20px;
    }

    .uploaded-info {
      margin-left: 8px;
    }
  }

  .progress-bar {
    padding: 24px 24px 0 24px;
    // background: $app-bg-box;
    border-radius: 0 0 10px 10px;

    .ant-progress-status-success {
      .ant-progress-bg {
        background-color: var(--active-color);
      }
    }

    .ant-progress-success-bg, .ant-progress-bg {
      background-color: var(--active-color);
    }

    .ant-progress-text {
      color: var(--text-color-white);
    }
  }

  .folder-select {
    height: 450px;
    padding: 24px;
  }

  .upload-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 24px 12px 24px;

    .upload-drag-box {
      height: 400px;
      width: 100%;

      .drag-box {
        height: 100%;
        // border-radius: $border-box-radius;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background: var(--box-bg-600);
        border: 1px dashed #7B7F80;
        border-radius: 2px;
        cursor: pointer;
        -webkit-transition: border-color 0.3s;
        transition: border-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        .drag-content {
          p {
            margin: 0;
          }

          .ant-upload-drag-icon {
            margin-bottom: 20px;

            .anticon-upload {
              color: var(--text-color-white);
              opacity: 0.7;
              font-size: 48px;
            }
          }

          .ant-upload-text {
            font-weight: 500;
            font-size: 16px;
            font-size: 16px;
          }

          .ant-upload-text, .ant-upload-hint {
            padding: 0 8px;
          }

          .ant-upload-hint {
            color: #d3d3d3;
          }
        }
      }

      .file-list {
        background: var(--box-bg-600);
        overflow-y: scroll;
        overflow-x: hidden;

        .ant-list {
          margin-right: 12px;
        }

        .file-item {
          height: 35px;
          line-height: 35px;
          white-space: nowrap;
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          background: var(--box-bg-600);

          .file-icon {
            height: 32px;
            width: 32px;
            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.1);
            margin-right: 8px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .name-wrapper {
            display: flex;
            flex-direction: column;
          }

          .file-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 12px;
            line-height: 22px;
            font-size: 14px;
          }

          .file-size {
            line-height: 20px;
            color: var(--text-color-hidden);
          }

          .file-status {
            margin-left: auto;
            font-size: 20px;
            color: var(--text-color-hidden);
            cursor: pointer;

            .ic-uploading {
              font-size: 18px;
            }

            &.done {
              color: var(--success-color);
            }

            &.error {
              color: var(--error-color);
            }
          }
        }
      }

      &.hide-drag-box {
        .drag-box {
          display: none;
        }

        .file-list {
          // border: 1px solid $defautl-font-color;
          height: 100%;
          border-radius: 8px;
        }
      }
    }
  }

  .btn-action {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 24px;

    .btn {
      border-radius: 2px;
      color: var(--text-color-white);
      box-sizing: border-box;
      height: 32px;
      min-width: 100px;

      &.btn-select-file {
        margin-right: 16px;
      }
    }

    .btn-primary {
      color: var(--text-color-white);
      box-shadow: 6px 16px 20px rgba(0, 0, 0, 0.06);
    }

    .btn-stop {
      background-color: transparent;
      color: var(--error-color);
      margin-right: 20px;
      border-color: var(--error-color);
    }

    .btn-export-log {
      margin-right: 20px;
    }
  }

  .minimized {
    display: none;
  }
}

.fixed-upload-modal.minimize-popup {
  position: static !important;

  .import-data-modal {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    top: unset;
    width: 325px !important;
    padding: 0;

    .header-modal {
      height: 40px;
      padding: 8px 16px;
      box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);

      .header-title {
        font-size: 16px;
      }

      .uploaded-info {
        margin-left: 8px;
      }
    }

    .ant-modal-close-x {
      height: 40px;
    }

    .progress-bar {
      padding: 16px;
    }
  }
}
