.pagination-table {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;

  .ant-pagination {
    font-size: 12px;
  }

  // .ant-pagination-total-text {
  //   color: var(--text-color);
  // }

  // .ant-pagination-prev:not(.ant-pagination-disabled), .ant-pagination-next:not(.ant-pagination-disabled) {
  //   button {
  //     color: var(--text-color);
  //   }
  // }

  // .ant-pagination-item {
  //   a {
  //     // color: var(--text-color);
  //   }
  // }

  .ant-pagination-options {
    // color: var(--text-color);
    margin: 0 10px;
    font-size: 12px;
    margin-right: 0;

    // * {
    //   color: var(--text-color);
    // }

    .ant-select-selector {
      font-size: 12px;

      .ant-select-selection-item {
        line-height: 22px;
      }
    }

    .ant-select-arrow {
      // color: var(--text-color);
      font-size: 10px;
    }

    .ant-pagination-options-quick-jumper {
      input {
        margin-right: 0;
      }
    }
  }
}
