.notification {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  min-width: 248px;
  max-width: 568px;
}

.noti-item {
  margin-top: 5px;
}
.noti-item .ant-alert-description .ant-btn-link {
  padding: 0;
}
