.AnnotationSettings
  .setting-item
    padding: 0 10px
    justify-content: space-between
  .language
    display: flex;

    .languageLabel
      display: flex;
      flex-basis: 0;
      flex-grow: 1.5;
      padding-right: 20px;
      color: #fff
