.toolbarClassName {
  /* display: none; */
}
.wrapperClassName {
  height: 100%;
}
.public-DraftStyleDefault-block {
  margin: 0
}
.editorClassName {
  /* color: #fff */
  max-height: calc(100% - 100px);
}
.tox-tinymce {
  border: none !important;
}
.tox-statusbar__branding {
  display: none;
}
.tox-notification { display: none !important }

table td {
  vertical-align: top
}
.disable-event {
  pointer-events: none;
}
