html,
body,
#root {
  background-color: var(--vindoc-bg) !important;
  overflow: auto;
  margin: 0 !important;
}
.dd-caret-down {
  margin-left: 0.2rem !important;
}

.roundedButton svg {
  max-width: 18px;
  max-height: 18px;
}
.disabled-link {
  pointer-events: none;
}
.space-between {
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #586472;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.OHIFModal__content::-webkit-scrollbar {
  display: block !important;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22add4, #1e98ba);
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

.white-text {
  color: #fff;
}

.box-rounded {
  color: #fff;
  background: var(--dark-blue);
  border-radius: var(--box-radius);
}

.panel-vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  width: 25px;
  font-weight: bold;
}

.flex {
  display: flex;
}

.m-15 {
  margin: 15px;
}
.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.ImageThumbnail {
  width: 130px;
  height: 90px;
}
.DraggableArea .Overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.thumbnail .alt-image-text {
  height: 90px;
  width: 120px;
}
.study-browser .scrollable-study-thumbnails {
  margin: 0;
  padding: 0;
}
.study-browser .scrollable-study-thumbnails .thumbnail-container {
  padding-bottom: 0;
}
/* .study-browser .scrollable-study-thumbnails .thumbnail-container .thumbnail {
  padding-bottom: 1em;
} */
.study-browser
  .scrollable-study-thumbnails
  .thumbnail-container
  .thumbnail
  .series-description {
  font-size: 11px;
}
.study-browser
  .scrollable-study-thumbnails
  .thumbnail-container
  .thumbnail
  .series-details {
  margin: 5px;
  word-break: break-all;
}
.image-thumbnail-canvas canvas {
  width: inherit;
  height: inherit;
}
.simpleDialog .footer {
  margin: 0;
}
.confirm-message {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.sidepanel {
  background: var(--box-bg);
}
.uppercase {
  text-transform: uppercase;
}
.m-0 {
  margin: 0;
}

.ul-no-style {
  margin: 0;
  list-style: none;
  list-style-type: none;
  padding-left: 10px;
}
.non-visible {
  visibility: hidden;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.OHIFModal__header button {
  color: #fff;
  font-weight: bold;
}
.OHIFModal__header {
  border-bottom-width: 1px;
  padding: 10px 15px;
  border-bottom-color: var(--section-line-color);
}
.roundedButtonWrapper .bottomLabel,
.toolbar-button-label {
  display: none;
}
.thumbnail .ImageThumbnail {
  border: var(--viewport-border-thickness) solid transparent;
}

.thumbnail.active .ImageThumbnail {
  border: var(--viewport-border-thickness) solid var(--active);
}
.btn-primary {
  color: #fff;
  background-color: var(--active);
  border-color: var(--active);
}
.OHIFModal__content {
  overflow-x: unset;
  overflow-y: scroll;
}
.ViewportOverlay .bottom-overlay {
  color: var(--text-color-white);
}
.ViewportOverlay .overlay-element {
  pointer-events: unset !important;
  color: var(--text-color-white);
}
.TabComponents_content > div {
  max-height: 65vh;
  overflow-y: scroll;
}
.svg-inline--fa {
  vertical-align: unset !important;
}
.panel-tab-wrapper {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 106px - 40px - 35px - 40px); */
  overflow: auto;
  height: 100%;
}
.ant-select-arrow .anticon:not(.ant-select-suffix) {
  pointer-events: none !important;
}

.vindr-dropdown .ant-dropdown-menu {
  background-color: var(--black-bg-3);
  min-width: 190px;
}

.vindr-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vindr-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.selected {
  background-color: var(--black-bg-1);
}

.vindr-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item.selected
  .selected-icon {
  color: #39c2d7;
}

.vindr-dropdown .ant-dropdown-menu-item:hover,
.vindr-dropdown .ant-dropdown-menu-submenu-title:hover {
  background-color: var(--header-table);
}

.vindr-modal .ant-modal-content,
.vindr-modal .ant-modal-header {
  background-color: var(--box-bg-600);
}

.vindr-modal .ant-modal-header {
  border: none;
  box-shadow: 0px -1px 0px 0px #5d697980 inset;
}

.vindr-modal .ant-modal-footer {
  border: none;
}

/* .ant-message {
  top: unset !important;
  bottom: 8px;
  left: unset !important;
  right: 8px;
} */

.ant-message-notice {
  width: auto;
}

.ant-message-notice .ant-message-notice-content {
  padding: 0;
  color: #1f2f3f;
}

.ant-message-notice .ant-message-notice-content .ant-message-success {
  background-color: #ccffeb !important;
  border: 1px solid #1ad489;
}
.ant-message-notice .ant-message-notice-content .ant-message-warning {
  background-color: #ffe7ba !important;
  border: 1px solid #ffa940;
}
.ant-message-notice .ant-message-notice-content .ant-message-error {
  background-color: #ffccc7 !important;
  border: 1px solid #ff4d4f;
}
.ant-message-notice .ant-message-notice-content .ant-message-info {
  background-color: #bae7ff !important;
  border: 1px solid #40a9ff;
}

.ant-message-notice .ant-message-notice-content .ant-message-success .anticon {
  color: #17b978;
}
.ant-message-notice .ant-message-notice-content .ant-message-warning .anticon {
  color: #fa8c16;
}
.ant-message-notice .ant-message-notice-content .ant-message-error .anticon {
  color: #f5222d;
}
.ant-message-notice .ant-message-notice-content .ant-message-info .anticon {
  color: #1890ff;
}

.ant-message-custom-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: left;
  padding: 10px 16px;
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  color: #1f2f3f;
  border-radius: 2px;
}

.ant-slider-rail {
  background-color: #ffffff1a;
}
.ant-slider-track {
  background-color: var(--box-bg-200) !important;
}
.ant-slider-handle {
  border-color: var(--box-bg-200);
  background-color: var(--active-color) !important;
}

.ant-popover.toolbar-expanded .ant-popover-inner-content {
  padding: 0;
}
.ant-popover.toolbar-expanded .ant-popover-title {
  min-width: unset;
  height: 40px;
  border-bottom: none;
}
.ant-popover.toolbar-expanded .ant-popover-inner {
  background-color: var(--black-bg-3);
}
.ant-popover.toolbar-expanded.ant-popover-placement-bottom
  > .ant-popover-content
  > .ant-popover-arrow {
  border-top-color: var(--black-bg-3);
  border-left-color: var(--black-bg-3);
}

@media screen and (max-width: 600px) {
  .ant-popover.toolbar-expanded .ant-popover-title {
    height: 60px;
  }
  .ant-popover.toolbar-expanded .ant-popover-title .toolbar-button {
    height: 50px;
  }

  .ant-tooltip {
    display: none !important;
  }
  html,
  body,
  #root {
    overflow: hidden;
  }
}
