@import '~antd/lib/style/themes/dark.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

// Override antd variable
@border-color-base: #647a87;
@font-size-base: 12px;

.ant-btn-primary {
  color: #052030;
}
