.toolbar-button
  height: 25px;
  color: #FFFFFF;
  float: left;
  text-align: center;
  padding: 0 6px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */

  &.expandableToolMenu
    display: flex
    align-items: center

  .toolbar-button-label
    font-size: 12px;
    font-weight: 500;

  .expand-caret
    width: 8px;
    height: 8px;
    transform: translate(2px, 2px);

  svg
    height: 24px;
    width: 24px;
    margin: 2px;

  &:hover
    color: var(--hover-color);

  &.active, &:active
    color: var(--active-color);

    svg:first-child
      background: rgba(57, 194, 215, 0.1);
      border-radius: 2px;

  .toolbar-label
    display: none;

.toolbar-tooltip .ant-tooltip-inner
  background-color: var(--black-bg-1);
  min-height: unset;

.toolbar-tooltip .ant-tooltip-arrow .ant-tooltip-arrow-content
  background-color: var(--black-bg-1);

.toolbar-divider
  height: 24px
  border-right: 2px solid rgba(255, 255, 255, 0.3)
  margin: 0 2px

@media screen and (max-width: 600px)
  .toolbar-divider
    display: none;
  .toolbar-button
    height: 53px;
    display: flex;
    flex-direction: column;
    position: relative;
    order: 100;

    & > svg:not(.expand-caret)
      height: 30px !important;
      width: 30px !important;

    .expand-caret
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(-135deg);

    .toolbar-label
      display: block;
      white-space: nowrap;
      min-width: 60px

    &.mobile-order-1
      order: 1;
    &.mobile-order-2
      order: 2;
    &.mobile-order-3
      order: 3;
    &.mobile-order-4
      order: 4;
    &.mobile-order-5
      order: 5;
    &.mobile-order-100
      order: 100;
