.checkbox-menu {
  background-color: var(--black-bg-1);
  padding: 8px;
  border-radius: 2px;
  border: 1px solid var(--black-bg-1);
  .ant-col {
    padding-right: 8px;
    &:last-child {
      padding-right: 0;
    }
    .ant-checkbox-wrapper {
      width: 80px;
      height: 24px;
      padding: 4px 2px;
    }
  }
}
