.bookmark-study-modal {
  .ant-modal-content {
    background-color: var(--box-bg-600);
    border-radius: 2px;

    .ant-modal-body {
      padding: 0;
    }

    .ant-modal-close-x {
      color: var(--text-color-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-modal-header {
      height: 56px;
      background-color: var(--box-bg-600);
      box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
      border-bottom: none;

      .ant-modal-title {
        font-size: 20px;
      }
    }

    .ant-modal-body {
      .bookmark-study-content {
        max-height: 400px;
        overflow: auto;
        padding: 24px;
      }
    }

    .ant-modal-footer {
      padding: 12px 24px 12px;
      border-top: none;
    }
  }

  .bookmark-tag {
    border: 1px solid rgba(100, 122, 135, 0.45);
  }
}
