.viewer-section {
  margin: 0;
}

.viewer-section .container {
  display: flex;


}

@media screen and (max-width: 600px) {
  .viewer-section .container {
    flex-flow: column-reverse;
  }
  .viewer-section .container.right-side-panel-open {
    display: none !important;
  }
  .viewer-section .drag-bar {
    display: none;
  }
  .button-collapse-side.right-side {
    display: none;
  }
}

#viewer {
  background-color: black;
  width: 100%;
}

.loadingTextDiv {
  color: var(--text-secondary-color);
  font-size: 30px;
}
.button-collapse-side {
  position: absolute;
  top: 50%;
  background: var(--box-bg-400);
  box-shadow: 0px 4px 4px 0px #15222e40;
  height: 50px;
  z-index: 100;
  width: 9px;
  cursor: pointer;
  line-height: 50px;
}

.button-collapse-side.right-side {
  transform: translate(-21px, -50%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.button-collapse-side.left-side {
  transform: translate(-16px, -50%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  right: -30px;
}

.button-collapse-side svg {
  width: 8px;
  height: 8px;
}
