@import './../../design/styles/common/navbar.styl'

.TabComponents
  .TabComponents_tabHeader
    display: flex
    flex-direction: column
    margin-left: -20px
    margin-right: -20px

  .TabComponents_tabHeader_selector
      padding: 0 25px

  .TabComponents_content
    min-height: 450px
    display: none

    &.active
      display: flex
      flex-direction: column
      justify-content: space-between

  .nav > li
    border-bottom: 1px solid rgba(255,255,255,0.3);

  .nav-tabs > li > button:after
    position: absolute
    height: 2px
    bottom: -1px
    left: 0
  .nav-tabs > li > button
    color: #5D6979;
  .nav-tabs > li.active > button
    color: var(--active-color);
