.create-study {
  .image-action-delete {
    &:hover {
      color: #a61d24;
    }
  }
  .video-wrapper {
    video {
      &:hover {
        cursor: zoom-in;
      }
      &:focus, &:active {
        cursor: grabbing;
      }
    }
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-descriptions-small .ant-descriptions-row > td {
    padding-bottom: 0;
  }
}
