.study-info-form {
   .ant-collapse-content > .ant-collapse-content-box {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    left: 0;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-left: 20px;
  }
}
