.GeneralPreferences
  padding: 20px 0;
  width: 50%
  .setting-item
    padding: 10px
    justify-content: space-between
  .language
    display: flex;

    .languageLabel
      display: flex;
      flex-basis: 0;
      flex-grow: 1.5;
      padding-right: 20px;
