/* "Tide" theme */
/* TODO:
- Convert the other themes to CSS Variables
- Allow user to set default CSS theme in JS config
- Export the themes as identical JS objects
- For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */

.dark-theme {
  /* Interface UI Colors */
  --default-color: #9ccef9;
  --hover-color: #ffffff;
  /* --active-color: #20a5d6; */
  --ui-border-color: #44626f;
  --ui-border-color-dark: #3c5d80;
  --ui-border-color-active: #00a4d9;
  --primary-background-color: #000000;
  --box-background-color: #3e5975;

  /* Common palette */
  --ui-yellow: #e29e4a;
  --ui-sky-blue: #6fbde2;
  /* State palette */
  --ui-state-error: #ffcccc;
  --ui-state-error-border: #993333;
  --ui-state-error-text: #661111;
  --ui-gray-light: #516873;
  --ui-gray: #263340;
  --ui-gray-dark: #16202b;
  --ui-gray-darker: #151a1f;
  --ui-gray-darkest: #14202a;

  /* Text Colors */
  --text-color-active: #000000d9;
  --text-primary-color: #ffffff;
  --text-secondary-color: #91b9cd;
  --large-numbers-color: #6fbde2;
  --text-disabled-color: #878787;

  --input-background-color: #2c363f;
  --input-placeholder-color--hover: #4d5a63;
  --input-placeholder-color: #d3d3d3;

  --table-hover-color: #2c363f;
  --table-text-primary-color: #ffffff;
  --table-text-secondary-color: #91b9cd;

  --large-numbers-color: #6fbde2;

  --state-error: #ffcccc;
  --state-error-border: #ffcccc;
  --state-error-text: #ffcccc;

  /* Colors */
  --vindoc-bg: #22313a;
  --dark-blue: #052030;
  --black-bg-4: #172126;
  --black-bg-3: #1f2c33;
  --black-bg-1: #1f313b;
  --box-bg: #082434;
  --box-bg-600: #082434;
  --box-bg-400: #2c5166;
  --box-bg-300: #376580;
  --box-bg-200: #427a99;
  --active: #39c2d7;
  --success: #38bb8c;
  --dark-green: #1f8c38;
  --active-color: #39c2d7;
  --ui-border-color-active: #39c2d7;
  --hover-color: #39c2d7;
  --section-line-color: #254351;
  --dark-text: #6b747d;
  --hover-color-button: #39c2d726;
  --body-text: #dbdbdb;
  --text-color: #22313f;
  --text-color-white: #ffffff;
  --text-color-hidden: #5d6979;
  --header-table: #2c4654;
  --button-primary: #39c2d7;
  --error-color: #f5222d;
  --success-color: #17b978;

  /* Variables */
  --box-radius: 5px;
  --left-sidepanel-menu-width: 140px;
  --right-sidepanel-menu-width: 370px;
  --toolbar-height: 40px;
  --header-height: 48px;
}
