.template {
  height: 500px;
  padding: 8px;
  .template-parent {
    .template-parent-item .ant-collapse-header {
      color: #000;
      background-color: #fff;
      margin: 0 2px 2px 2px;
      &:hover {
        background: #dff1f3;
        color: #000;
      }
    }
    .template-parent-item.ant-collapse-item-active .ant-collapse-header {
      background: var(--active) !important;
      color: #fff !important;
    }
    .ant-collapse-item {
      border: none;
    }
    .ant-collapse-content {
      color: #000;
      background-color: #fff;
      border: none;
      .ant-collapse-content-box {
        padding: 0;
      }
    }

    .template-children {
      background: #f1f1f1;
      .children-item {
        padding: 5px 12px;
        background: #fff;
        margin: 0 2px 2px 2px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        &:hover {
          background: #dff1f3;
          color: #000;
        }
        &.active {
          background: var(--active);
          color: #fff;
        }
      }
    }
  }
}
