.left-menu-container
  &.ant-layout-sider
    background: var(--box-bg-600)
    box-shadow: 0px 2px 8px 0px #00000026
    z-index: 99
    .ant-layout-sider-trigger {
      background: var(--box-bg-400);
      height: 50px;
      line-height: 30px;
      width: 9px !important;
      position: absolute;
      top: 50%;
      right: -12px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.ant-layout-sider-has-trigger {
      padding-bottom: 0;
    }
  .ant-menu
    color: var(--text-color)
    background-color: var(--box-bg-600)
    padding-top: 16px
    .ant-menu-item
      padding-left: 0 18px !important
      height: 40px
      line-height: 30px
      margin-bottom: 8px !important
      margin-top: 0 !important
      display: flex
      align-items: center
      word-break: break-all;
      &.ant-menu-item-selected
        background: var(--box-bg-400);
      &:hover
        background-color: var(--header-table);
      .menu-item-icon
        width: 16px
        height: 16px
  .ant-menu-inline-collapsed
    width: auto
