.report-modal .panel-tab-wrapper {
  height: 100%;
}

.report-modal.ai-modal .panel-tab-wrapper {
  height: calc(100% - 30px);
}

.panel-tab-wrapper .panel-doctor-description-content {
  height: 100%;
}

.ant-modal-header {
  background-color: var(--box-bg-600) !important;
  box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.5);
  border-bottom: none;
}

.ant-modal-content {
  background-color: var(--box-bg-600) !important;
}

.report-modal .ant-design-draggable-modal-title {
  display: flex;
}

.report-modal .ant-design-draggable-modal-title:hover {
  background-color: rgba(5, 32, 48, 0.2) !important;
}

.modal-title {
  display: flex;
  width: 100%;
  margin-right: 40px;
  justify-content: space-between;
}

.modal-title .minimize-icon {
  position: absolute;
  top: 0;
  height: 56px;
  width: 56px;
  right: 56px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.modal-title .minimize-icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

.collapse-report.ant-notification-notice {
  background-color: var(--black-bg-3);
}

.collapse-report:hover {
  cursor: pointer;
}

.collapse-report .ant-notification-notice-message {
  margin-bottom: 0;
}
