.box-wrapper {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  overflow-y: auto;
}

.analytics-result {
  height: 40vh;
  margin: 5px;
}

#summary-comment {
  width: 100%;
  color: #fff;
  padding: 5px;
  resize: none;
  border: none;
  outline: none;
}

.preview-comment {
  white-space: pre-wrap;
}

.preview-img {
  width: 100%;
}
.panel-section {
  margin: 5px;
}
.tab-result {
  text-align: center;
  margin-right: 2px;
  padding: 10px 2px;
}
.MuiTab-textColorInherit.Mui-selected {
  background: var(--active);
  color: #000;
}

.pannel-wrapper {
  position: relative;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  height: calc(100% - 35px);
}

.react-tabs__tab-list {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #11425d;
  height: 45px;
  border-radius: 4px;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  cursor: pointer;
  width: 50%;
  text-align: center;
  color: #fff;
  border-radius: 7px 7px 0 0;
  font-weight: 700;
  line-height: 40px;
}
.button-side-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  cursor: pointer;
  z-index: 100;
  pointer-events: none;
}
.button-side-wrapper .button-side {
  margin: auto;
  height: 36px;
  pointer-events: none;
}

.rotage-y-180 {
  transform: rotateY(180deg);
}
.react-tabs__tab--selected {
  border-color: #aaa;
  background: var(--box-bg);
  color: #fff;
  outline: none;
  border-radius: 2px 2px 0 0;
  border: var(--viewport-border-thickness) solid var(--active);
  border-width: 1px 1px 0 1px;
}

.react-tabs__tab--selected:first-child {
  border-radius: 2px 20px 0 0;
}

.react-tabs__tab--selected:last-child {
  border-radius: 20px 2px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus:after {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
  height: calc(100% - 4px);
}

.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 10px;
  background: var(--box-bg);
  border-radius: 2px;
  margin-top: -5px;
  border: var(--viewport-border-thickness) solid var(--active);
}
.text-align-right {
  text-align: right;
}

.tooltip-explaination .single-message {
  padding: 5px;
}

.vindr-tabs {
  height: 100%;
  width: 100%;
}

.vindr-tabs .ant-tabs-nav-wrap {
  width: 100%;
}
.vindr-tabs .ant-tabs-nav-wrap .ant-tabs-nav-list {
  width: 100%;
}

.vindr-tabs .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  width: 50%;
}
.vindr-tabs .ant-tabs-tab {
  min-width: 100px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.vindr-tabs .cad-tool-selection {
  margin-bottom: 10px;
}

.vindr-tabs .ant-tabs-content {
  height: 100%;
}

.panel-tab-wrapper .panel-doctor-description-content {
  height: 100%;
}
