.view-3d-content {
  width: 100%;
  height: 100%;
  background: #000;

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;

    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }

  .toolbar-3d {
    position: absolute;
    z-index: 100;
    top: 4px;
    left: 4px;

    .toolbar-3d-list {
      display: flex;
      font-size: 16px;

      .toolbar-3d-item {
        padding: 0 6px;
        height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3a424c;
        border-radius: 4px;
        margin-right: 4px;
        color: #fff;
        min-width: 32px;

        &.is-active {
          color: #39C2D7;
        }
      }
    }
  }

  .cutting-toolbar {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 20px;
    .cutting-toolbar-item {
      padding: 0 6px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #3a424c;
      border-radius: 4px;
      margin-right: 4px;
      color: #fff;
      min-width: 32px;
      word-break: keep-all;
      transition: color 0.5s ease;
      span:first-child {
        white-space: nowrap;
      }
      &:hover {
        color: #39c2d7;
      }
    }
  }

  .view-3d {
    width: 100%;
    height: 100%;

    .volume-rendering {
      &.rotate-cursor {
        cursor: alias !important;
      }
      &.crosshair-cursor {
        cursor: crosshair !important;
      }
      &.default-cursor {
        cursor: default !important;
      }
    }
  }
}

.popover-advance-option {
  .advance-content {
    .adv-option {
      display: flex;
      font-size: 12px;
      margin-bottom: 8px;

      .property-name {
        margin-right: 5px;
        text-align: right;
        min-width: 90px;
      }
    }
  }
}
