.measurements-list {
  color: #fff;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 15px;

  .measurement-item-wrapper {
    max-height: 280px;
    overflow-y: auto;
  }

  .measurement-item {
    background: var(--box-bg-400);
    box-shadow: inset 0px -1px 0px #5D6979;
    padding: 8px 12px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor pointer;

    &:nth-last-child(1) {
      margin: 0;
    }

    &.title {
      font-size: 14px;
      background: var(--header-table);
      font-weight: 600;
    }

    &__value {
      color: var(--active-color);
    }

    &.dark-text {
      color: var(--dark-text);
      justify-content: center;
      font-style: italic;
    }
    svg {
      vertical-align: text-top;
      margin-left: 5px;
    }
    .measurement-item-local {
      color: var(--active-color);
    }
  }
}
