
.measurementItem
  color: #fff
  .measurement-location
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: normal;
    white-space: nowrap;
    font-size: 14px

  .measurement-displayText
    display: inline-block;
    width: 90px;

  .itemIndex
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;

.table-list-item
  background: var(--dark-blue)
  padding: 8px
  cursor: pointer
  margin-bottom: 1px
  width: 100%
  border-radius: var(--box-radius)
  &.flex
    .box-number-list
      width: 35%
    .measurement-location
      width: 65%
  .box-number-list
    margin: 3px 0
    .box-number-item
      border-radius: 4px
      border: 2px solid var(--active)
      width: 24px
      color: #fff
      text-align: center
      font-size: 12px
      margin: 5px 5px 0 0
      position relative
      float:left

      &:hover
        background: var(--active)
        .row-actions
          visibility: visible
      .row-actions
        overflow: hidden
        position: absolute
        visibility: hidden
        top: 18px
        left: -35px
        min-width: 90px
        background-color: var(--ui-gray)
        border-radius: 4px
        z-index: 10000

        .btn-action
          text-align: left
          padding: 2px 5px
          font-size: 12px
          color: #fff
          cursor: pointer
          fill: #fff
          svg
            margin-bottom: -2px

          &:hover, &:active
            background-color: var(--active)

          i
            margin-right: 4px;

.measurement-column
  .table-list-item
    min-height: inherit
    flex: 1
