.measurement-table
  flex-direction: column
  background-color: none
  border-radius: var(--box-radius)
  width: 100%

  .maxMeasurements
    border-radius: 3px
    color: var(--primary-background-color)
    font-size: 12px
    font-weight: 500
    height: 19px
    line-height: 17px
    margin-top: 22px
    margin-right: 15px
    padding: 2px 6px 0
    text-transform: uppercase
    transition: all 0.3s ease
    background-color: var(--default-color)
.measurement-list {
  width: 100%;
}
textarea::placeholder, .no-data-message
  color: #6b747d
.measurement-column
  margin: 1px
  width: 100%
  position: relative
  min-height: 80px
  display: flex;
  flex-direction: column
