.filter-data {
  padding: 12px 16px 8px;
  .filter-items {
    margin-right: 8px;
    margin-bottom: 12px;
    &:last-child {
      margin-right: 0;
    }
    .filter-item {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    .select-item {
      width: 109px;
    }
    .search-item {
      width: 136px;
    }
    .filter-btn {
      width: 90px;
    }
    .picker-date {
      // height: 24px;
      font-size: 12px;
      max-width: 200px;
    }
  }

  .filter-title {
    margin-bottom: 5px;
  }

  .select-dropdown-light {
    &.no-border {
      .ant-select-selector {
        border: none !important;
        padding-left: 0;
        box-shadow: none !important;
      }
    }
    .ant-select-item {
      max-height: 24px;
      line-height: 20px;
    }
  }
}

// style global
.dropdown-options-dark {
  min-width: 200px !important;
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  border: 1px solid var(--black-bg-3);
}

.ant-popover-content .ant-popover-inner {
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  background: var(--black-bg-1);
  border: 1px solid var(--black-bg-1);
  border-radius: 2px;
}

.ant-popover-inner-content {
  padding: 12px;
}

.ant-picker-range-wrapper {
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  // border: 1px solid var(--black-bg-1);
  border-radius: 2px;
  .ant-picker-panel-container {
    background: var(--black-bg-1);
    .ant-picker-panel, .ant-picker-header {
      box-shadow: inset 0px -1px 0px #5D6979;
    }
    .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
      background: var(--header-table);
    }
  }
  .ant-picker-range-arrow::after {
    border-color: var(--black-bg-1) var(--black-bg-1) transparent transparent;
  }
  .ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
    background: transparent;
    border: 1px solid #7B7F80;
    color: var(--text-color-white);
    height: 24px;
  }
}

.ant-select-arrow .anticon:not(.ant-select-suffix) {
  pointer-events: none;
}

.dropdown-options-dark {
  &.no-border {
    .ant-select-selector {
      border: none !important;
      padding-left: 0;
      box-shadow: none !important;
    }
  }
  .ant-select-item {
    min-height: 24px;
    height 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
}
