.match-confirm-modal {
  .warning {
    color: var(--text-color);

    .warning-icon {
      color: #FFA940;
      margin-right: 9px;
    }

    padding-bottom: 16px;
  }

  .ant-table {
    background: var(--box-bg-400);

    .ant-table-container {
      color: var(--text-color);
      font-size: 12px;

      .ant-table-thead {
        .ant-table-cell {
          height: 32px !important;
          padding: 8px 8px !important;
          border: none;
          box-shadow: -1px -1px 0px 0px #5D6979 inset;
        }
      }

      .ant-table-row {
        .ant-table-cell {
          border: none;
          height: 32px !important;
          padding: 8px 8px !important;
          box-shadow: -1px -1px 0px 0px #5D6979 inset;

          &:hover {
            background: var(--header-table);
          }

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            border-right: none;
          }

          .ant-tag {
            color: var(--text-color);
            background: #5D697966;
          }
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }

    .highlight-row {
      .highlight-cell {
        background: var(--box-bg-300) !important;
      }
    }
  }

  .ant-table thead > tr > th {
    background-color: var(--header-table);
    color: #fff;

    &:first-child {
      background: var(--box-bg-400);
    }
  }

  .ant-modal-body {
    padding: 16px;
  }
}

.vindr-modal .ant-table tbody > tr.ant-table-row:hover > td {
  background: var(--header-table);
}
