.worklist-page {
  width: 100%;
  height: 100%;

  .table-content {
    height: calc(100% - 135px);
  }

  .ant-table-wrapper {
    height: calc(100% - 35px);
  }

  @media only screen and (max-width: 1428px) {
    .table-content {
      height: calc(100% - 170px);
    }
  }

  @media only screen and (max-width: 1240px) {
    .table-content {
      height: calc(100% - 190px);
    }
  }

  .ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
  }

  .ant-table {
    height: 100%;
    background-color: var(--box-bg-400);

    .ant-table-container {
      color: var(--text-color);
      font-size: 12px;

      .ant-table-thead {
        .ant-table-cell {
          padding: 4px 8px !important;
        }

        .ant-table-column-sorters {
          padding: 0;
        }
      }

      .ant-table-row {
        cursor: default;

        .match-status {
          .anticon-close-circle {
            color: var(--error-color);
          }

          .anticon-check-circle {
            color: var(--success-color);
          }
        }

        .ant-table-cell {
          padding: 4px 8px !important;
          vertical-align: middle;
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }

    &.ant-table-small .ant-table-thead > tr > th {
      background-color: var(--header-table);
      border-right: 1px solid #5D6979;
      border-bottom: none;
      &:last-child {
        border: none;
      }
      &.ant-table-cell-scrollbar {
        box-shadow: none;
      }
    }

    .ant-table-cell-fix-left, .ant-table-cell-fix-right {
      background-color: var(--box-bg-400);
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background-color: var(--box-bg-400);
    }

    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: var(--box-bg-200);
    }

    .ant-table-tbody > tr.ant-table-row > td {
      border-bottom: 1px solid #5D6979;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: var(--box-bg-300);
    }

    .ant-table-tbody > tr.ant-table-placeholder > td {
      border-bottom: none;
    }
    .ant-empty-image {
      height: auto;
      margin-bottom: 0;
    }
    .ant-empty-description {
      font-size: 14px;
      color: var(--text-color-white);
    }

    .ant-table-container {
      font-size: 12px;
      height: 100%;

      .ant-table-thead {
        .ant-table-cell {
          padding: 6px 8px !important;
        }

        .ant-table-column-sorters {
          padding: 0;
        }
      }

      .ant-table-body {
        height: calc(100% - 31px);
      }

      .ant-table-row {
        cursor: default;

        &.selected {
          background-color: var(--box-bg-300);
        }

        .match-status {
          .anticon-close-circle {
            color: var(--error-color);
          }

          .anticon-check-circle {
            color: var(--success-color);
          }
        }

        .ant-table-cell {
          padding: 5px 8px 3px 8px !important;
          vertical-align: middle;
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }
  }

  .ant-btn-primary[disabled] {
    background: rgba(255, 255, 255, 0.3);
    color: var(--text-color-disabled);

    &:hover, &:focus, &:active {
      background: rgba(255, 255, 255, 0.3);
      color: var(--text-color-disabled);
    }
  }

  .table-header {
    .tb-actions {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      box-shadow: 0px -1px 0px 0px #5D697940 inset;

      .tb-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
      }

      .btn-actions {
        margin-left: auto;
      }
    }
  }

  .table-content {
    margin: 0 16px 16px 16px;
  }

  // .perform-table-content {
  //   height: 50%;
  //   background: var(--black-bg-3);
  //   border-radius: var(--border-radius-base);
  //   margin-bottom: 16px;
  // }

  .schedule-table-content {
    height: 100%;
    background: var(--black-bg-3);
    border-radius: var(--border-radius-base);
  }
}

// style global
.dropdown-options-light {
  color: var(--text-color) !important;
  min-width: 120px !important;

  .ant-select-item-option {
    color: var(--text-color);
    font-size: 12px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: var(--text-color);
  }
}

.dropdown-options-dark {
  min-width: 200px !important;
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  border: 1px solid var(--black-bg-3);
}

.vindr-modal.create-study {
  .ant-modal-footer {
    padding: 0 24px 20px;
  }
  .ant-modal-body {
    padding: 24px 24px 12px 24px;
  }
}
