.vindr-studylist-header {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(93, 105, 121, 0.25);
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  align-items: center;
  padding: 12px 15px;
  height: 40px;
  background-color: var(--black-bg-3);
}

.page-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.page-title .total-item {
  font-size: 12px;
  margin-left: 12px;
}

@media screen and (max-width: 600px) {
  .vindr-studylist-header {
    padding: 0 0 10px 0;
    height: 35px;
  }
}
