.viewport-container {
  float: left;
  position: relative;
  border: var(--viewport-border-thickness) solid #262626;
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid var(--active-color);
}

.js-viewport-gird-container {
  position: relative;
}
.js-viewport-gird-container.expand-container {
  grid-template-rows: repeat(1, 100%) !important;
  grid-template-columns: repeat(1, 100%) !important;
}
