.viewport-drop-target {
  opacity: 1;
  position: relative; /* Locks in Scrollbar */
  transition: 0.3s all ease;
}

.viewport-drop-target.hovered {
  opacity: 0.5;
  cursor: copy;
}

.js-viewport-grid-item.reset-grid-area {
  grid-area: unset !important;
}

.js-viewport-grid-item.is-absolute-item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  grid-area: unset !important;
}

.js-viewport-grid-item.is-expand-item {
  z-index: 250 !important;
}
