.toolbarClassName {
  /* display: none; */
}
.wrapperClassName {
  height: 100%;
}
.public-DraftStyleDefault-block {
  margin: 0
}
.editorClassName {
  /* color: #fff */
  max-height: calc(100% - 100px);
}
.tox-tinymce {
  border: none !important;
}
.tox-statusbar__branding {
  display: none;
}
.tox-notification { display: none !important }

table td {
  vertical-align: top
}
.disable-event {
  pointer-events: none;
}

.report-result.ant-collapse {
  background: var(--box-bg-400);
  border: none;
  margin-top: 10px;
}

.report-result.ant-collapse .ant-collapse-header {
  background: var(--box-bg-400);
  padding: 8px;
  line-height: normal;
  font-size: 14px;
}
.report-result.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 8px;
}
.report-result.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  padding: 8px;
}
.report-result.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 2px;
}
.report-result.ant-collapse > .ant-collapse-item {
  border: none;
}

.report-result.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.panel-doctor-description-content .report-result .tox-tinymce {
  border-radius: 0 0 2px 2px;
}
