.reconstruction-3d {
  .form-item {
    margin-bottom: 12px;

    .title {
      margin-bottom: 5px;
    }
  }
  .ant-slider-rail {
    background-color: #FFFFFF1A;
  }
  .ant-slider-track {
    background-color: var(--box-bg-200);
  }
  .ant-slider-handle {
    border-color: var(--box-bg-200);
    background-color: var(--active-color) !important;
  }
}
