.dropdown-select-layout {
  background: var(--black-bg-3);

  .ant-dropdown-menu {
    background: var(--black-bg-3);

    .ant-dropdown-menu-item {
      font-family: Roboto;
    }

    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background-color: var(--header-table);
    }
  }
}

.custom-layout-submenu {
  .ant-dropdown-menu-sub {
    margin-left: -3px;
    background: var(--black-bg-3);
    padding: 0;
    margin-right: 0;

    .ant-dropdown-menu-item {
      padding: 0;
    }
  }
}
