.dropdown-presentation-state {
  background: var(--black-bg-3);

  .state-options {
    background: var(--black-bg-3);

    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background-color: var(--header-table);
    }

    .state-item {
      font-family: Roboto;
      padding: 5px 12px;
      display: flex;
      align-items: center;

      .state-label-item {
        padding: 0;
        width: 100%;
      }
      .check {
        visibility: hidden;
        &.checked {
          visibility: visible;
        }
      }
    }
  }
  .ant-divider-horizontal {
    margin: 3px 0;
  }
}

.toolbar-button {
  display: flex;
  align-items: center;
}
