@import './../../design/styles/common/button.styl';
@import './../../design/styles/common/global.styl';

.layoutChooser-dropdown-menu {
  min-width: 160px;
  padding: 5px;
}

.layoutChooser {
  .selectedBefore {
    background-color: var(--active-color);
  }

  table {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fff;

    td {
      cursor: pointer;
      transition(background-color 0.1s ease);

      &:hover, &.hover { // Add the hover class here to be triggered by mouseenter/mouseleave
        background-color: var(--active-color);
      }
    }
  }
}
