.dropdown-window-setting {
  background: var(--black-bg-3);

  .window-setting-options {
    background: var(--black-bg-3);

    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background-color: var(--header-table);
    }

    .window-setting-item {
      font-family: Roboto;
    }
  }
}
