.dashboard-layout {
  @media screen and (min-width: 992px) {
    height: calc(100vh - 48px);
  }

  .ant-row {
    height: 50%;

    .ant-col {
      height: 100%;
    }
  }
}

.dashboard-block-container {
  padding: 8px;
  overflow: auto;
  background: var(--black-bg-4);
  height: 100%;

  .chart-container {
    height: 100%;
    background: var(--black-bg-3);
    border-radius: var(--border-radius-base);

    .chart-header {
      height: 11%;
      display: flex;
      justify-content: space-between;
      padding: 8px 16px;
      font-weight: 600;
      font-size: 16px;
      color: var(--text-color);
      box-shadow: 0px -1px 0px 0px #5D697940 inset;

      @media screen and (max-width: 1200px) {
        font-size: 13px;
      }

      .chart-title {
        line-height: 32px;
      }

      .chart-filter {
        height: 100%;
        max-width: 50%;
        display: flex;
        align-items: center;
      }
    }

    .chart-content {
      padding: 16px;
      height: 89%;
      position: relative;

      canvas {
        max-height: 100%;

        @media screen and (max-width: 992px) {
          height: 40vh !important;
        }

        @media screen and (max-width: 420px) {
          height: 35vh !important;
        }
      }

      .donut-center-text {
        font-size: 50px;
        position: absolute;
        // top: 36%;
        // left: 43%;

        @media screen and (max-width: 768px) {
          font-size: 40px;
        }
      }

      .chart-content-no-data {
        font-size: 14px;
        text-align: center;
      }
    }

    .data-content {
      height: 89%;
      padding: 16px;
      display: flex;
      justify-content: space-around;
      overflow: hidden;

      .bar-content {
        padding-top: 25%;
        height: 100%;
        color: #000000;
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;

        @media screen and (max-width: 1200px) {
          width: 25%;
          font-size: 35px;
          padding-top: 20%;
        }

        @media screen and (max-width: 992px) {
          width: 28%;
          padding-top: 8%;
          height: 25vh;
        }

        @media screen and (max-width: 768px) {
          padding-top: 10%;
        }

        @media screen and (max-width: 400px) {
          padding-top: 16%;
        }

        p {
          text-align: center;
          margin: 0;
        }

        p:last-child {
          font-size: 16px;
          padding: 0 25px;

          @media screen and (max-width: 768px) {
            font-size: 14px;
            padding: 0 18px;
          }
        }
      }

      .bar-content:first-child {
        background: rgba(54, 162, 235, 1);
      }

      .bar-content:nth-child(2) {
        background: rgba(255, 159, 64, 1);
      }

      .bar-content:last-child {
        background: rgba(255, 99, 132, 1);
      }

      .ant-table-block {
        max-height: 50vh;
        height: 100%;
        width: 100%;
        overflow: scroll;
        background-color: var(--box-bg-400);

        @media screen and (max-width: 992px) {
          max-height: 40vh;
        }
      }

      .ant-table {
        height: 100%;
        background-color: var(--box-bg-400);
        width: 100%;
        // overflow: scroll;

        .ant-table-container {
          color: var(--text-color);
          font-size: 12px;
          width: 100%;

          .ant-table-thead {
            .ant-table-cell {
              padding: 4px 8px !important;
            }

            .ant-table-column-sorters {
              padding: 0;
            }
          }

          .ant-table-row {
            cursor: default;

            .match-status {
              .anticon-close-circle {
                color: var(--error-color);
              }

              .anticon-check-circle {
                color: var(--success-color);
              }
            }

            .ant-table-cell {
              padding: 4px 8px !important;
              vertical-align: middle;
            }
          }

          .ant-empty-img-simple-path {
            stroke: inherit;
          }
        }

        &.ant-table-small .ant-table-thead > tr > th {
          background-color: var(--header-table);
          border-right: 1px solid #5D6979;
          border-bottom: none;
          &:last-child {
            border: none;
          }
          &.ant-table-cell-scrollbar {
            box-shadow: none;
          }
        }

        .ant-table-cell-fix-left, .ant-table-cell-fix-right {
          background-color: var(--box-bg-400);
        }

        .ant-table-tbody > tr.ant-table-placeholder:hover > td {
          background-color: var(--box-bg-400);
        }

        .ant-table-tbody > tr.ant-table-row-selected > td {
          background-color: var(--box-bg-200);
        }

        .ant-table-tbody > tr.ant-table-row > td {
          border-bottom: 1px solid #5D6979;
        }

        .ant-table-tbody > tr.ant-table-row:hover > td {
          background-color: var(--box-bg-300);
        }

        .ant-table-tbody > tr.ant-table-placeholder > td {
          border-bottom: none;
        }
        .ant-empty-image {
          height: auto;
          margin-bottom: 0;
        }
        .ant-empty-description {
          font-size: 14px;
          color: var(--text-color-white);
        }

        .ant-table-container {
          font-size: 12px;
          height: 100%;

          .ant-table-thead {
            .ant-table-cell {
              padding: 6px 8px !important;
            }

            .ant-table-column-sorters {
              padding: 0;
            }
          }

          .ant-table-body {
            height: calc(100% - 31px);
          }

          .ant-table-row {
            cursor: default;

            &.selected {
              background-color: var(--box-bg-300);
            }

            .match-status {
              .anticon-close-circle {
                color: var(--error-color);
              }

              .anticon-check-circle {
                color: var(--success-color);
              }
            }

            .ant-table-cell {
              padding: 5px 8px 3px 8px !important;
              vertical-align: middle;
            }
          }

          .ant-empty-img-simple-path {
            stroke: inherit;
          }
        }
      }
    }
  }
}
