.slab-thickness
  display: flex;
  flex-direction: row;
  height: 35px;
  &:hover
    color: var(--default-color);
  .ant-select-arrow .anticon > svg
    width: auto
    height: auto
    pointer-events: none
  .ant-slider
    margin: 0 6px
  .container
    //height: inherit;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    .toolbar-slider-container
      width: 120px;
      margin: 0px 7px 2px 14px;
      font-size: 10px;
      &:hover
        color: var(--hover-color);
      input
        height: 20px;
        //padding-top: 6px;
        &::-moz-range-thumb
          height: 16px;
          margin-top: -7px;
        &::-webkit-slider-thumb
          height: 16px;
          margin-top: -7px;
