.panel-doctor-margin
  margin: 5px 0
  .ant-descriptions-small .ant-descriptions-row > th, .ant-descriptions-small .ant-descriptions-row > td
    padding: 0

.panel-doctor-section
  background: var(--dark-blue)
  padding: 8px
  border-radius: var(--box-radius)

.white-text
  color: #fff

.no-template-found {
  padding: 50px;
  text-align: center;
}

.site-input-group-wrapper .site-input-split {
  background-color: #fff;
}

.site-input-group-wrapper .site-input-right {
  border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
  border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
  border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
  border-right-width: 1px;
}
[data-theme="dark"] .site-input-group-wrapper .site-input-split {
  background-color: transparent;
}

// .open-template-tooltip.ant-tooltip-placement-top .ant-tooltip-arrow {
//   left: auto;
//   right: 0;
//   transform: translateX(-90%);
// }

.main-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}
