.dicom-tag-browser-table-wrapper {
  min-height: 80vh;
}

.dicom-tag-browser-table {
  margin-right: auto;
  margin-left: auto;
}

.dicom-tag-browser-table tr {
  padding: 3px 10px;
  color: var(--table-text-primary-color);
  border-top: 1px solid #37444f;
  white-space: nowrap;
  line-height: 30px;
  font-size: 11px;
}

.dicom-tag-browser-table td.dicom-tag-browser-table-center {
  text-align: center;
}

.dicom-tag-browser-table th {
  padding: 3px 10px;
  text-align: center;
  color: var(--active-color);
}
.dicom-tag-browser-table td {
  word-break: break-all;
}

.dicom-tag-browser-table th.dicom-tag-browser-table-left {
  text-align: left;
}
.dicom-tag-browser-select-wrapper {
  display: flex;
  width: 100%;
  max-width: 730px;
  margin: auto;
}
.dicom-tag-browser-select-wrapper .dicom-tag-browser-select-item {
  margin: 10px;
  flex: 1;
}

.dicom-tag-browser-select-item .search-input {
  width: 100%;
  background: var(--dark-blue);
  border-radius: var(--box-radius);
  height: 40px;
  outline: none;
  border:none;
  padding: 0 15px;
  color: var(--text-color-primary)
}
.dicom-tag-browser-select-item .search-input:focus {
  border: 1px solid var(--active-color);
}
.dicom-tag-browser-select-wrapper .inside-wrapper {
  display: flex;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .dicom-tag-browser-select-wrapper {
    position: absolute;
    top: 46px;
    left: 0;
    display: flex;
    flex-flow: column;
  }
  .dicom-tag-browser-select-wrapper .inside-wrapper {
    width: 100%;
  }
  .dicom-tag-browser-select-wrapper .dicom-tag-browser-select-item {
    width: 50%;
  }
  .dicom-tag-browser-select-wrapper .dicom-tag-browser-select-item:last-child {
    width: calc(100% - 20px);
  }
  .dicom-tag-browser-table-wrapper {
    margin-top: 100px;
    height: calc(var(--viewport-height) - 170px);
    overflow: auto;
    min-height: unset;
  }
  .OHIFModal__content {
    padding: 10px;
    max-height: calc(var(--viewport-height) - 50px);
  }
}
