.filter, .filter-form-table, .add-account {
  width: 100%;
  background: var(--black-bg-3);
  border-radius: var(--border-radius-base);

  .page-title {
    padding: 8px 16px;
    box-shadow: 0px -1px 0px 0px #5D697940 inset;
    display: flex;
    justify-content: space-between;

    .ant-typography {
      margin-bottom: 0;
    }
  }

  .content {
    padding: 16px;
    height: calc(100vh - 105px);
  }

  .ant-table {
    background-color: var(--box-bg-400);

    .ant-table-container {
      color: var(--text-color);
      font-size: 12px;

      .ant-table-thead {
        .ant-table-cell {
          padding: 4px 8px !important;
        }

        .ant-table-column-sorters {
          padding: 0;
        }
      }

      .ant-table-row {
        cursor: default;

        .match-status {
          .anticon-close-circle {
            color: var(--error-color);
          }

          .anticon-check-circle {
            color: var(--success-color);
          }
        }

        .ant-table-cell {
          padding: 4px 8px !important;
          vertical-align: middle;
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }

    &.ant-table-small .ant-table-thead > tr > th {
      background-color: var(--header-table);
      border-right: 1px solid #5D6979;
      border-bottom: none;
      &:last-child {
        border: none;
      }
      &.ant-table-cell-scrollbar {
        box-shadow: none;
      }
    }

    .ant-table-cell-fix-left, .ant-table-cell-fix-right {
      background-color: var(--box-bg-400);
    }

    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background-color: var(--box-bg-400);
    }

    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: var(--box-bg-200);
    }

    .ant-table-tbody > tr.ant-table-row > td {
      border-bottom: 1px solid #5D6979;
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: var(--box-bg-300);
    }

    .ant-table-tbody > tr.ant-table-placeholder > td {
      border-bottom: none;
    }
    .ant-empty-image {
      height: auto;
      margin-bottom: 0;
    }
    .ant-empty-description {
      font-size: 14px;
      color: var(--text-color-white);
    }

    .ant-table-container {
      font-size: 12px;
      height: 100%;

      .ant-table-thead {
        .ant-table-cell {
          padding: 6px 8px !important;
        }

        .ant-table-column-sorters {
          padding: 0;
        }
      }

      .ant-table-body {
        height: calc(100% - 31px);
      }

      .ant-table-row {
        cursor: default;

        &.selected {
          background-color: var(--box-bg-300);
        }

        .match-status {
          .anticon-close-circle {
            color: var(--error-color);
          }

          .anticon-check-circle {
            color: var(--success-color);
          }
        }

        .ant-table-cell {
          padding: 5px 8px 3px 8px !important;
          vertical-align: middle;
        }
      }

      .ant-empty-img-simple-path {
        stroke: inherit;
      }
    }
  }

  .ant-btn-primary[disabled] {
    background: rgba(255, 255, 255, 0.3);
    color: var(--text-color-disabled);

    &:hover, &:focus, &:active {
      background: rgba(255, 255, 255, 0.3);
      color: var(--text-color-disabled);
    }
  }

  .table-header {
    .tb-actions {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      box-shadow: 0px -1px 0px 0px #5D697940 inset;

      .tb-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
      }

      .btn-actions {
        margin-left: auto;
      }
    }
  }
}

.filter-form-table {
  background-color: transparent;

  p:first-child {
    margin: 12px 0 0;
  }
  p:nth-child(2) {
    font-size: 10px;
  }

  .ant-input, .ant-select-selector {
    padding-left: 0 !important;
  }

  .ant-table {
    max-height: 195px;
    overflow: auto;
  }
}

.add-account {
  padding-bottom: 0;

  .account-filter-name {
    color: #2799b0;
  }
}

.error-text {
  color: #A61D24;
  margin-top: 5px;
  margin-bottom: 0;
}
