.folder-menu-list {
  background: transparent;
  font-size: 13px;

  .submenu-list {
    background: transparent;
    color: #DBDBDB;

    .ant-menu-submenu-title {
      line-height: 30px !important;
      height: 30px !important;
      color: #fff;
      background: transparent;
    }

    &.submenu-active>.ant-menu-submenu-title {
      background: #2C5166;
      border-right: #39C2D7 3px solid;
    }

    .ant-menu-sub {
      background: transparent;

      .folder-submenu-item {
        // padding-left: 30px !important;
        height: 30px;
        line-height: 30px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        color: #DBDBDB;
        word-break: break-all;

        &:hover {
          background: var(--header-table);
        }

        &.ant-menu-item-selected {
          background: var(--box-bg-400);
          color: #fff;
        }

        .submenu-text {
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 8px;
          // font-size: 13px;
        }
      }
    }
  }

  .folder-menu-item {
    height: 30px;
    line-height: 30px;
    color: #DBDBDB;
    word-break: break-all;

    &:hover {
      background: var(--header-table);
    }

    &.ant-menu-item-selected {
      background: var(--box-bg-400);
      color: #fff;
    }
  }

  .vindr-menu-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
  }

  &.is-collapsed {
    width: 60px;

    .folder-menu-item {
      padding: 0 calc(50% - 30px / 2);
      background: transparent !important;

      .menu-icon {
        margin-right: 8px !important;
        height: 32px;
        width: 32px;
        border-radius: 2px;
      }

      &.ant-menu-item-selected {
        .menu-icon {
          background: var(--box-bg-400);
        }
      }
    }

    .submenu-list {
      .ant-menu-submenu-title {
        padding: 0 calc(50% - 30px / 2);

        .menu-icon {
          margin-right: 8px !important;
          height: 32px;
          width: 32px;
          border-radius: 2px;
        }
      }

      &.ant-menu-submenu-selected {
        .ant-menu-submenu-title {
          .menu-icon {
            background: var(--box-bg-400);
          }
        }
      }
    }
  }
}

.vindr-menu-icon.folder-icon {
  width: 15px;
  height: 15px;
  position: relative;
}

.create-folder-button {
  position: absolute;
  width: 180px;
  bottom: 10px;
  left: 10px;
  background-color: var(--black-bg-3);
  border-color: #A8B3BD;
  color: var(--text-primary-color);

  &:hover {
    background-color: var(--box-bg-400);
  }
}

.create-folder-circle-button {
  width: 30px;
  height: 30px;
  minHeight: 30px;
  position: fixed;
  bottom: 16px;
  left: 15px;
  background-color: var(--black-bg-3);
  border-color: #A8B3BD;
  color: var(--text-primary-color);

  &.ant-btn-icon-only {
    padding: 3px 0;
  }

  &:hover {
    background-color: var(--box-bg-400);
  }
}

.ant-layout-sider-collapsed {
  .ant-menu-submenu-title {
    overflow: visible;
  }
}

.ant-layout {
  background: initial;
}

.ant-layout-sider {
  background: var(--box-bg);
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.ant-layout-sider-trigger {
  background: var(--box-bg-400);
  height: 50px;
  line-height: 30px;
  width: 9px !important;
  position: absolute;
  top: 50%;
  right: -12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-menu-inline-collapsed-tooltip {
  left: 55px !important;

  .ant-tooltip-arrow {
    display: none;
  }

  .ant-tooltip-inner {
    background-color: var(--black-bg-1);
  }
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: var(--black-bg-1);

  .ant-menu-item {
    margin-bottom: 0;
    margin-top: 0;
    height: 32px;
    line-height: 32px;

    &:hover {
      background-color: var(--header-table);
    }
  }

  .ant-menu-item-selected {
    background-color: var(--black-bg-3);
  }
}

@media screen and (max-width: 600px) {
  .ant-layout-sider.vindr-custom-sidebar {
    display: none;
  }
  .folder-dropdown-overlay {
    background: var(--box-bg);
    padding-bottom: 50px;
    box-shadow: 5px 8px 24px 5px rgba(8, 36, 52, 0.6);
    width: calc(100vw - 16px);
  }
  .active-folder {
    display: flex;
    align-items: center;
    .active-folder-name {
      line-height: normal;
      margin-left: 10px;
    }
  }
  .create-folder-button {
    width: calc(100% - 20px);
  }
}
