.panel-doctor-description-content {
  height: 65%;
}

.panel-doctor-description-content .tox-tinymce {
  max-height: 100%;
  padding: 8px;
  background: #fff;
  border-radius: var(--box-radius);
  min-height: 200px;
}

@media only screen and (max-height: 900px) {
  .panel-doctor-description-content {
    height: 63%;
  }
}

@media only screen and (max-height: 800px) {
  .panel-doctor-description-content {
    height: 53%;
  }
}
.panel-content-circle-loading {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: var(--box-radius);
}
