.icon-pulse
  fa-spin 1s infinite steps(8)

.icon-spin {
  animation: spin 2s linear infinite;
}

@keyframes fa-spin{
  0%{ transform:rotate(0deg) }
  to{ transform:rotate(1turn) }
}

// svg {
//   fill: currentColor;
// }
