.filter-data.study-filter {
  padding: 0;
  .filter-items {
    margin-right: 8px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
    .filter-item {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      margin-bottom: 12px;
    }
    .select-item {
      width: 109px;
    }
    .search-item {
      width: 136px;
    }
    .filter-btn {
      width: 90px;
    }
    .picker-date {
      // height: 24px;
      font-size: 12px;
      max-width: 200px;
    }
  }

  .filter-title {
    margin-bottom: 5px;
  }

  .select-dropdown-light {
    &.no-border {
      .ant-select-selector {
        border: none !important;
        padding-left: 0;
        box-shadow: none !important;
      }
    }
    .ant-select-item {
      max-height: 24px;
      line-height: 20px;
    }
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-collapse-borderless > .ant-collapse-item {
    border: none;
  }
  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }
}

// style global
.dropdown-options-dark {
  min-width: 200px !important;
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  border: 1px solid var(--black-bg-3);
}

.ant-popover-content .ant-popover-inner {
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  background: var(--black-bg-1);
  border: 1px solid var(--black-bg-1);
  border-radius: 2px;
}

.ant-popover-inner-content {
  padding: 12px;
}

.ant-picker-range-wrapper {
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25);
  // border: 1px solid var(--black-bg-1);
  border-radius: 2px;
  .ant-picker-panel-container {
    background: var(--black-bg-1);
    .ant-picker-header {
      box-shadow: inset 0px -1px 0px #5D6979;
    }
    .ant-picker-panel {
      border: none;
    }
    .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
      background: var(--header-table);
    }
  }
  .ant-picker-range-arrow::after {
    border-color: var(--black-bg-1) var(--black-bg-1) transparent transparent;
  }
  .ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
    background: transparent;
    border: 1px solid #7B7F80;
    color: var(--text-color-white);
    height: 24px;
  }
}

.ant-select-arrow .anticon:not(.ant-select-suffix) {
  pointer-events: none;
}

.dropdown-options-dark {
  &.no-border {
    .ant-select-selector {
      border: none !important;
      padding-left: 0;
      box-shadow: none !important;
    }
  }
  .ant-select-item {
    min-height: 24px;
    height 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .filter-dropdown-overlay {
    background: var(--box-bg);
    padding: 10px;
    box-shadow: 5px 8px 24px 5px rgba(8, 36, 52, 0.6);
    width: 100vw;
    .filter-items {
      .filter-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .filter-title {
          width: 120px;
        }
        .ant-btn-sm, .ant-btn {
          padding-right: 10px;
          padding-left: 7px;
        }
      }
      &.filter-button {
        margin-top: 20px;
        .filter-item {
          margin-right: 10px;
        }
      }
      .picker-date {
        width: 100%;
      }
    }
  }
  .filter-data.study-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .filter-left {
      display: flex;
      align-items: center;
      width: 100%;
      // max-width: 200px;
    }
    .filter-items {
      // .picker-date {
      //   max-width: 150px;
      // }
      .filter-item {
        &.filter-date {
          margin-bottom: 0;
        }
      }
    }
  }
  .dropdown-options-dark .ant-select-item {
    height: 32px;
  }
  .vindr-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    height: 32px;
  }
}
