.study-item.mobile {
  height: 60px;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 7px;
  background: var(--box-bg-400);
  border-radius: 2px;
  &.selected {
    background: var(--box-bg-300);
  }
  .item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-left {
      display: flex;
      align-items: center;
    }
    .item-name {
      font-size: 16px;
      max-width: 40vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      display: inline-block;
    }
    span {
      margin-right: 5px;
      display: flex;
      align-items: center;
      &.round {
        background: var(--header-table);
        border-radius: 12px;
        line-height: 12px;
        padding: 4px;
      }
    }
    .status span {
      margin: 0;
      font-size: 13px;
    }
  }
  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .more-info {
      display: flex;
      align-items: center;
      .patient-id {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: pre;
      }
    }
  }
}
