.dropdown-sync {
  background: var(--black-bg-3);

  .sync-options {
    background: var(--black-bg-3);

    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background-color: var(--header-table);
    }

    .sync-item {
      font-family: Roboto;
      padding: 0;

      .sync-checkbox-item {
        padding: 5px 12px;
        width: 100%;
      }
    }
  }
}

.toolbar-button {
  display: flex;
  align-items: center;
}
