.container {
  padding: 8px;
  background-color: var(--black-bg-4)

  .ant-input {
    background-color: var(--black-bg-4);
  }
}

.ant-select-arrow .anticon:not(.ant-select-suffix) {
  pointer-events: none !important;
}

.wrapper-layout {
  min-height: calc(100vh - var(--header-height));
}
