/* Viewer Route */
.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: var(--box-bg);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(21, 34, 46, 0.25), inset 0px -1px 0px #132B37;

  .ant-menu {
    background: transparent;
  }

  .ant-menu-horizontal {
    border-color: transparent;
    line-height: 35px;
    margin-left: 60px;
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 11px 0 0;
    font-weight: 500;
    font-size: 12px;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin: 0 0 0 16px;
  }
}

.vindr-dropdown .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .vindr-dropdown .ant-dropdown-menu-item-selected > a, .vindr-dropdown .ant-dropdown-menu-submenu-title-selected > a {
  background-color: var(--header-table);
}

.header-left-box {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;

  .header-nav-btn {
    margin-left: 24px;
    min-width: 80px;
  }
}

.header-brand {
  text-decoration: none;
  height: 30px;
  float: left;
  clear: both;
}

/* Home Page */
.entry-header.header-big {
  background: var(--vindoc-bg);
  padding: 35px var(--study-list-padding);
  height: auto;
  display: inline-block;
  width: 100%;
}

.entry-header.header-big .header-brand {
  height: 50px;
  padding: 0;
}

.entry-header.header-big .header-logo-image {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.entry-header.header-big .header-logo-text {
  width: 474px;
  height: auto;
}

.header-logo-image {
  fill: transparent;
  height: 100%;
  margin: 0 8px 0 0;
  width: 30px;
  float: left;
}

.header-menu {
  color: var(--text-primary-color);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;

  .btn-about {
    margin-right: 10px;
  }

  .header-dropdown-title {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    padding: 4px 2px;
  }

  .language-info {
    .current-lang {
      margin-right: 3px;
    }
  }

  .user-info {
    .user-name {
      margin-left: 3px;
    }
  }
}

// css for dropdown options
.header-dropdown-options {
  background: #fff;

  .ant-dropdown-menu {
    background: #fff;

    .ant-dropdown-menu-item-divider, .ant-dropdown-menu-submenu-title-divider {
      background-color: #f0f0f0;
    }

    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
      color: var(--text-color-active);
      display: flex;
      align-items: center;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.vindr-dropdown.header-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  justify-content: flex-start;
}

.vindr-dropdown.select-language {
  .ant-dropdown-menu {
    min-width: 115px;
  }
}

.header-menu-item {
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  display: inline-block;
  font-size: 13px;
}

.entry-header.header-big .header-menu {
  margin-right: 0;
}

.header-menu .research-use {
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #91b9cd;
  margin-right: 1rem;
}

.notification-bar {
  display: none;
  position: absolute;
  height: 20px;
  line-height: 20px;
  width: 100%;
  background-color: #91b9cd;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.dd-menu-list {
  min-width: 150px;
}

.dd-menu-list .dd-item {
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu-list .dd-item:hover {
  background: #f1f1f1;
}

@media only screen and (max-width: 768px) {
  .entry-header.header-big .header-logo-image {
    margin: 0 10px 0 0;
    width: 25px;
    height: 25px;
  }

  .entry-header.header-big .header-logo-text {
    width: 40%;
  }

  /* Toggle Notification Bar */
  .notification-bar {
    display: block;
  }

  .header-menu .research-use {
    display: none;
  }
}
