.technician-container {
  height: 100%;
  width: 100%;

  .entry-header {
    height: var(--entry-header-height);
    background: var(--box-bg-600);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #15222E40;
    box-shadow: 0px -1px 0px 0px #132B37 inset;
    border: none;
    overflow: visible;
    z-index: 100;

    .header-brand {
      height: 100%;
    }

    .header-menu {
      color: var(--text-color);
    }
  }

  .technician-content {
    padding: 8px;
    overflow: auto;
    height: calc(100vh - var(--entry-header-height));
    color: var(--text-color);
    background-color: var(--black-bg-4);
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 6px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(1, 18, 34, 0.3);
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  .ant-table {
    color: var(--text-primary-color);
  }
}
